.panellink li{
    background-color: #111 !important;
    color: white !important;
}
.panellink .item-inner{
    
    color: white;
}

.panellink .item-inner:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 0px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.panellink .item-inner:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 0px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}


.panellink ul:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 0px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.panellink ul:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 0px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

/* Custom CSS */

/* Slider */

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-block;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Main Page */

#container {
    width: 80%;
    margin: auto;
}

#header {
    margin-bottom: 20px;
}

#header h1 {
    text-align: center;
}

.question {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.question h3 {
    
}

.box1, .box2, .box3, .box4, .box5 {
    width: 20%;
    height: 50px;
    float: left;
    text-align: center;  
    padding-bottom: 50px
}

#questionTwo, #questionThree, #questionFour, #questionFive, #result {
    display: none;
}


#myIframe {
    position: relative;

    width: 90vw; 
}